<div class="flex flex-col mt-10">
    <div class="flex justify-center">
        {{#each filters}}
            <a
                href="/?filter={{this}}"
                hx-boost="true"
                class=" border-2 border-indigo-500 p-4 rounded-lg w-1/2 uppercase font-bold transition-all hover:bg-indigo-400 mr-2 hover:scale-105  text-center cursor-pointer {{#ifEqual @root.selectedFilter this }} bg-indigo-500{{/ifEqual}}"
            >{{this}}</a>
        {{/each}}
    </div>
</div>