<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css" />
        <title>HTMX Todo List</title>
    </head>

    <body>
        {{{body}}}
        <script src="https://unpkg.com/htmx.org@1.9.8"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"></script>
    </body>

</html>