<div class="max-w-lg mx-auto text-white">
    <h1 class="text-center my-12 text-5xl font-alata underline uppercase">Todo App</h1>
    {{>todoInput}}
    {{>filterBtns}}
    <div
        id="todo-list"
        class="flex flex-col mt-12 text-2xl"
    >
        {{#each todos}}
            {{>todoItem}}
        {{/each}}
    </div>
</div>